[Desktop Entry]
Encoding=UTF-8
Name=Link to          Next   
Type=Link
URL=http://localhost/bootstrap/examples/carousal.html#carousel-example-generic
Icon=text-html
